<h1>Tiny App</h1>
<% if (user_id) { %>
  <h2><%= user_id %></h2>
  <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>
<% } else { %>
  <form method="POST" action="/login">
    <input name="username" type="text" placeholder="Bruce Wayne">
    <input type="submit" value="Login">
  </form>
<% } %>