<% include ../partials/_header %>
  <!-- Body in header partial -->
    <main role="main">
      <div class="container">
        <h2>Login</h2>
        <form method="POST" action="/login">
          <label for="email">Email</label>
          <input name="email" type="email" placeholder="bruce@waynetech.com">
          <label for="password">Password</label>
          <input name="password" type="password" placeholder="ImBatman">
          <input type="submit" value="Login">
        </form>
      </div>
    </main>
  </body>
</html>