<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include ../partials/_header %>
  <body>
    <form method="POST" action="/register">
      <label for="username">Username</label>
      <input name="username" type="text" placeholder="Bruce Wayne">
      <label for="password">Password</label>
      <input name="password" type="password" placeholder="ImBatman">
      <input type="submit" value="Update">
    </form>
  </body>
</html>