<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include ../partials/_header %>
    <ul>
      <% for (let shortURL in urls) { %>
        <li><strong><%= urls[shortURL] %></strong> –––– <em><%= shortURL %></em>
          <form method="POST" action="/urls/<%= shortURL %>/delete">
            <a href="/urls/<%= shortURL %>">Edit Link</a>
            <input type="submit" value="delete">
          </form>
        </li>
      <% } %>
    </ul>
    <a href="/urls/new">Create new Tiny URL</a>
  </body>
</html>