<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include ../partials/_header %>
  <body>
    <strong>Short URL</strong> –––– <em><%= shortURL %></em>
    <form method="POST" action="/urls/<%= shortURL %>">
      <input name="newURL" type="text" placeholder="<%= urlDatabase[shortURL] %>">
      <input type="submit" value="Update">
    </form>
  </body>
</html>