<!-- DOCTYPE HTML -->
<html>
  <% include ../partials/_header %>
  <body>
    <h1>TinyApp</h1>
    <ul>
      <% for (let urlListing in urls) { %>
        <li><strong><%= urls[urlListing] %></strong> –––– <em><%= urlListing %></em></li>
      <% } %>
    </ul>
    <a>Create new Tiny URL</a>
  </body>
</html>